@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Fira Mono', sans-serif;
}

body {
  background: #ececec;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  overflow: hidden;
}

h1 {
  opacity: 0.5;
  letter-spacing: -3px;
  font-size: 1.7rem;

  position: absolute;
  top: 20px;
  left: 40px;
}

h2 {
  margin: 5rem 0 2rem 0;
  font-size: 2.55rem;
  color: #34769b;
  letter-spacing: 3px;
  font-weight: bold;
}

.master-container {
  width: 80%;
  height: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.conversion-content {
  display: flex;
  align-items: baseline;
  justify-content: space-around;

  width: 70%;
  max-width: 600px;
  height: 80%;
}

.dropdown-btn {
  padding: 10px 100px;
  margin-top: 1rem;
  font-size: 1.2rem;
  min-width: 600px;

  background: white;
  border: 2px solid #34769b;

  transition: 0.2s ease;
}

.dropdown-btn:hover {
  background: #34769b;
  color: white;
}

.dropdown-content {
  padding: 20px;
  height: 200px;
  background: white;
  border-bottom: 2px solid #34769b;
  border-left: 2px solid #34769b;
  border-right: 2px solid #34769b;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  visibility: hidden;
}

.dropdown-content.active {
  visibility: visible;
}

.dropdown-content p:hover {
  color: #34769b;
  cursor: pointer;
}

.unit-input {
  padding: 10px;
  width: 30%;
  border: 2px solid #34769b;
  font-size: 1.2rem;
  text-align: center;
  color: #34769b;
}

.unit-btn {
  padding: 10px 20px;
  min-width: 50px;
}

.arrow-img {
  transform: translateY(25px) scale(0.7);
}

.conversor-btn {
  margin-top: 2rem;
  font-size: 1.7rem;
  padding: 10px 200px;
  border-radius: 5px;
  border: 3px solid #34769b;
  color: black;
  background: transparent;

  position: relative;
  transition: 0.2s ease;

  overflow: hidden;
}

.conversor-btn:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background: #34769b;
  transform: translateY(-100%);
  transition: 0.2s ease;
}

.conversor-btn:hover:after {
  transform: translateY(0);
}

.conversor-btn:hover {
  color: white;
}

.result-content {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result {
  font-size: 2rem;
  color: #34769b;
}

.unit-icon {
  height: 100px;
}

.unit-bg {
  position: absolute;
  top: 0;
  right: -200px;
  width: 1000px;
  z-index: -1;
  opacity: 0.1;
}
